.promo__about {
  margin: 254px 0 0 244px;
  max-width: 615px;
  z-index: 9;
}

.promo__title {
  font-family: var(--front-family_Seil);
  font-weight: var(--font-weghht_400);
  font-size: 80px;
  line-height: var(--line-height_100);
  color: var(--color-dark_pink);
  margin: 0;
}
.promo__subtitle {
  font-family: var(--front-family_Montserrat);
  font-weight: var(--font-weghht_900);
  font-size: 60px;
  line-height: 105%;
  margin: 40px 0 60px 0;
}

.promo__button {
  position: relative;
  z-index: 12;
  cursor: pointer;
  width: 260px;
  height: 70px;
  border-radius: 50px;
  margin-right: 30px;
  color: var(--color-dark_pink);
  border: 1px solid var(--color-dark_pink);
  background-color: var(--color-white);
}
.promo__button:hover {
  box-shadow: 0px 20px 40px 0px #0000004f;
}
.promo__button_active {
  position: relative;
  z-index: 11;

  color: var(--color-white);
  border: none;
  background: linear-gradient(
    85.61deg,
    var(--color-dark_pink) -15.57%,
    #b44e79 128.11%
  );
}
.promo__button-active:hover {
  box-shadow: 0px 20px 40px 0px #0000004f;
}
.promo__container-video {
  margin-top: 200px;
}

.promo__image {
  margin-top: 208px;
  margin-left: 250px;
  margin-bottom: 250px;
  position: relative;
  z-index: 150;
}

.promo__raspberry {
  position: absolute;
  /* width: 154px;
  height: 150px; */
  top: 949px;
  left: 520px;
}
