.header {
  padding: 16px 32px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.header_sweet {
  position: fixed;
  top: 70px;
  left: -210px;
  transform: rotate(-40deg);
  opacity: 0.03;
  margin: 0;
  font-family: Sail;
  font-weight: 400;
  font-size: 400px;
  line-height: 100%;
  color: #9c0746;
  z-index: 1;
  width: 1007px;
  height: 462px;
  box-sizing: border-box;
}

.header__paradise{
position: fixed;
top: 200px;
left: -40px;
transform: rotate(-40deg);
opacity: 0.03;
font-family: Montserrat;
font-weight: 400;
font-size: 400px;
line-height: 100%;
color: #9C0746;

}

.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  position: relative;
  font-family: "Sail";
  font-weight: 400;
  font-size: 26px;
  color: #9c0746;
  margin: 0;
  z-index: 9;
}

.header__logo-link {
  text-decoration: none;
  color: inherit;
}

.header__info {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.header__info-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
}

.header__info-link:hover {
  color: #9c0746;
}

.header__basket-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__basket {
  height: auto;
}
